@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --light-gray: #f2f2f2;
  --dark-gray: #b3b3b3;
  --caret-color: #000;
  --caret-pos: 0;
}

div#terminal_wrap{
  position: relative;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
}

ul#history{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.5em;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
  gap: 0.5em;
  padding: 0 0 0 0em;
}

ul#history > li{
  color: var(--dark-gray);
}

ul#history > li > div.command_wrap{
  display: flex;
  gap: 0.5em;
  color: var(--dark-gray);
}

div.command {
  white-space: nowrap;
  overflow-wrap: break-word;
}

ul#history > li > div.command_wrap{
  display: flex;
  gap: 0.5em;
  color: var(--dark-gray);
}

ul#history > li > div.result {
  color: black;
  overflow-wrap: break-word;
}

div.command_input {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
  gap: 0.5em;
  background-color: var(--light-gray);
  z-index: 1;
}

div.command_input.hidden{
  background-color: #0000;
  z-index: 0;
}

div.command_input > #command {
  caret-color: transparent;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  cursor: text;
  background-color: var(--light-gray);
}

#command_input {
  position: relative;
  height: 1em;
  bottom: 0px;
  left: 0;
  caret-color: #0000;
}

div.command_input > #command > span {
  display: block;
  width: 0.6em;
  height: 1.4em;
}

div.command_input > #command > span.active {
  background-color: var(--caret-color);
  animation: blink 1s steps(4) infinite;
  color: #fff;
}

@keyframes blink {
  0% { 
    background-color: var(--caret-color);
   }
  50% { 
    background-color: #0000;
   }
}