@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@media(prefers-color-scheme: light) {
  :root {
    --bg: #f2f2f2;
    --bg-2: #b3b3b3;
    --fr: #2f2f2f;
    --fr-2: #828282;
  }
}

@media(prefers-color-scheme: dark){
  :root {
    --bg: #2f2f2f;
    --bg-2: #606060;
    --fr: #b3b3b3;
    --fr-2: #f2f2f2;
  }
}

:root {
    --caret-pos: 0;
}

div#rfpl_wrap{
  position: relative;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
}

ul#history{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1.5em;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
  gap: 0.5em;
  padding: 0 0 0 0em;
}

ul#history > li{
  color: var(--fr-2);
}

ul#history > li > div.command_wrap{
  display: flex;
  gap: 0.5em;
  color: var(--fr);
}

div.command {
  white-space: nowrap;
  overflow-wrap: break-word;
}

ul#history > li > div.command_wrap{
  display: flex;
  gap: 0.5em;
  color: var(--fr-2);
}

ul#history > li > div.result {
  color: var(--fr);
  overflow-wrap: break-word;
  min-height: 1em;
}

div.command_input {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
  gap: 0.5em;
  background-color: var(--bg);
  z-index: 1;
}

div.command_input.hidden{
  background-color: #0000;
  z-index: 0;
}

div.command_input .prompt{
  color: var(--fr);
}

div.command_input > #command {
  caret-color: transparent;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  cursor: text;
  color: var(--fr);
  background-color: var(--bg);
}

#command_input {
  position: relative;
  height: 1em;
  bottom: 0px;
  left: 0;
  caret-color: #0000;
}

div.command_input > #command > span {
  display: block;
  width: 0.6em;
  height: 1.4em;
}

div.command_input > #command > span.active {
  background-color: var(--fr);
  animation: blink 1s steps(4) infinite;
  color: #fff;
}

@keyframes blink {
  0% { 
    background-color: var(--fr);
   }
  50% { 
    background-color: #0000;
   }
}